@import "tailwindcss";

@theme {
  --color-brand-primary: #004859;
  --color-brand-secondary: #BF967E;
  --color-brand-bg: #F1EDE8;
  --color-brand-text: #333333;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Solo CSS aquí, nada de JavaScript */
.bg-animated-gradient {
  background: linear-gradient(-45deg, #000000, #1a1a1a, #911913, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
