@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-cdg-dark: #911913;
  --color-cdg-light: #e74520;
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #911913;
  font-family: var(--font-sans);
}

@keyframes gradient-xy {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(-45deg, #911913, #e74520, #911913, #e74520);
  background-size: 400% 400%;
  animation: gradient-xy 15s ease infinite;
}
